rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/main {
      allow read: if true;
      allow write: if false;
    }
    match /booking/current {
      allow read: if false;
      allow write: if
        request.resource.data.guestName is string
        && request.resource.data.guestName.size() > 0
        && request.resource.data.guestName.size() < 100
        && request.resource.data.city is string
        && request.resource.data.city.size() > 0
        && request.resource.data.city.size() < 64
        && request.resource.data.activity is string
        && request.resource.data.activity.size() > 0
        && request.resource.data.activity.size() < 64
        && request.resource.data.date is string
        && request.resource.data.date.size() == 10
        && request.resource.data.locale in ['nl', 'en'];
    }
  }
}
